.fas {
  color: white;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4369b2;
  color: white;
  padding: 5px 10px;
}

.search-bar {
  display: flex;
  justify-content: center;
}

input {
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 5px;
}

input:focus {
  outline: none;
}

.fa-angle-right {
  background-color: white;
  color: grey;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.right-navigation {
  display: flex;
  justify-content: space-between;
  width: 10%;
}

.left-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
